/* style.css */

* {
    line-height: 1.5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 200px;
    border: 2px solid darkred;
    margin: 5px;
}

ul {
    list-style: none;
}

h1 {
    color: darkred;
}

.recipe-card {
    width: 400px;
    height: auto;
    background-color: bisque;
    border: 2px solid darkred;
    text-align: center;
    padding: 5px;
}

.recipe-card h2, 
.recipe-card a {
    text-transform: uppercase;
}

li h2 {
    font-size: 16px;
}

.recipe-card a {
    background-color: #fc9400;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
}

.recipe-content h1 {
    text-align: center;
}

.recipe-content .description {
    padding: 10px;
    margin: 10px;
    text-align: justify;
}

.recipe-info {
    text-align: left;
}